body{
    background-color: #2C2C2C;
}
.img-parent{
    .img{
        width: 18%;
        left: 1rem;
    }
}
.link-color{
    color: #a0a0a0;
    align-items: center;
    font-size: 1.3rem;
    &:hover{
        color: #E4E4E4;
    }
    &:focus{
        color: rgb(126, 126, 226);
    }
}
.text-color{
    color: #E4E4E4;
}